:host {
  display: block;
}

.card-container > .card {
  display: inline-block;
}

@media(min-width: 600px) {
  .card-container {
    columns: 10 calc(var(--playing-card-base-width) + 20px);
    column-gap: 20px;
  }
  .card {
    margin: 10px;
  }
}
