:host {
  display: block;
  height: 100%;
}

main-game-page {
  display: flex;
  flex-direction: column;
  height: 200vh;

  .you-are-the-card-tsar {
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
  }

  $start-and-end-color: #9000ff;
  $middle-color: #ff00ee;

  @-webkit-keyframes color-change {
      0% { color: $start-and-end-color; }
      50% { color: $middle-color; }
      100% { color: $start-and-end-color; }
  }
  @-moz-keyframes color-change {
      0% { color: $start-and-end-color; }
      50% { color: $middle-color; }
      100% { color: $start-and-end-color; }
  }
  @-ms-keyframes color-change {
      0% { color: $start-and-end-color; }
      50% { color: $middle-color; }
      100% { color: $start-and-end-color; }
  }
  @-o-keyframes color-change {
      0% { color: $start-and-end-color; }
      50% { color: $middle-color; }
      100% { color: $start-and-end-color; }
  }
  @keyframes color-change {
      0% { color: $start-and-end-color; }
      50% { color: $middle-color; }
      100% { color: $start-and-end-color; }
  }

  .others-cards-container {
    display: flex;
    flex-direction: row;

    .other-people-selections {
      display: flex;
      flex-direction: row;
    }
  }

  .player-card-container {
    margin-top: 16px;

    .player-cards {
      display: flex;
      flex-direction: row;

      white-card {
        display: inline-block;
      }
    }
  }

  button {
    margin: 16px 0;
  }
}

@media(max-width: 900px) {
  main-game-page {
    .card-tsar {
      font-style: italic;
    }

    .others-cards-container {
      display: flex;
      flex-direction: column;

      .other-people-selections {
        display: flex;
        flex-direction: column;
      }
    }

    .player-card-container {
      margin-top: 16px;

      .player-cards {
        display: flex;
        flex-direction: column;
        white-card {
          display: inline-block;
        }
      }
    }
  }
}
