:host {
  display: block;
  height: 100%;
}

main-game-page {
  display: flex;
  flex-direction: column;
  height: 200vh;

  .others-cards-container {
    display: flex;
    flex-direction: row;

    .other-people-selections {
      display: flex;
      flex-direction: row;
    }
  }

  .player-card-container {
    margin-top: 16px;

    .player-cards {
      display: flex;
      flex-direction: row;

      white-card {
        display: inline-block;
      }
    }
  }

  button {
    margin: 16px 0;
  }
}

@media(max-width: 600px) {
  main-game-page {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .others-cards-container {
      display: flex;
      flex-direction: column;
    }

    .player-card-container {
      margin-top: 16px;

      .player-cards {
        display: flex;
        flex-direction: column;
        white-card {
          display: inline-block;
        }
      }
    }
  }
}
