:host {
  display: block;
  height: 100%;
}

reveal-winning-card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .winning-card {
    display: flex;
    flex-direction: row;
  }

  .player-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}
