:host {
  display: block;
  height: 100%;
}

reveal-winning-card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .winning-card {
    display: flex;
    flex-direction: row;
  }

  .winning-player {
    background-color: #00ffb2;
    padding: 4px;
  }

  .player-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

@media(max-width: 900px) {
  reveal-winning-card-page {
    .winning-card {
      display: flex;
      flex-direction: column;
    }
  }
}
